/* 

GENERIC

*/

* {
     
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: black;
}


.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between !important;
}

.align-center {
    align-items: center in !important;
}

.navbar .links a {
    text-decoration: none;
}
/*

NAVBAR

*/


.navbar {
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-weight: 600;
    margin-top: 28px;
}

.navbar .logo {
    height: 150px;
    width: 150px;
}

.navbar .links {
    display: flex;
    width: 100%;
    max-width: 530px;
    text-decoration: none;
}

.navbar .link {
    position: relative;
    display: inline-block;
}

.navbar .link {
    position: relative;
}


.navbar .link:after {
    background-color: #b13f30;
    transition: width .25s cubic-bezier(.694,.048,.335,1);
    content: "";
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 0;
    height: 2px;
    z-index: 2;
 }

.links {
    padding-top: 60px;
}


.link-primary {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 28px 40px;
    margin-top: -20px;
    align-items: center;
    border: 2px #ff543e;
    border-radius: 50px;
    background-color: #b13f30;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35s ease;
}

/* 

BODY

*/

.landing-title {
    font-size: 57px;
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #b13f30;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.landing-para {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -1px;
}

.search-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.search-bar {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #b13f30;
    color: #b13f30;
    display: inline-block;
    height: 57px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 80%;
    font-size: 24px;
    padding-left: 25px;
    margin-top: 40px;
}


.input-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.input-wrapper input {
    width: 100%;
    padding: 18px 25px 1px 2px;
    font-size: 24px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

button.not-loading {
    border: 1px solid #b13f30;
    background-color: #b13f30;
    box-shadow: 7px 7px 14px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    width: 120px;
    height: 59.7px;
    border-radius: 20px;
    font-size: 40px;
    color: #fff;
    margin-top: 40px;
    transition: all .25s ease;
    box-sizing: border-box;
}

.fa-solid.fa-magnifying-glass {
    color: #fff;
}

.landing-img {
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}
